header
{
    background-color: #212121;
    border-bottom: 1px solid #2d2d2d;
    color: #FFFFFF;
    font-family: "PT Sans Caption";
    font-size: 16px;
    height: 106px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

nav
{
    padding-left: 70px;
}

nav a
{
    display: block;
    float: left;
    height: 40px;
    line-height: 50px;
    margin-right: 20px;
    text-align: center;
    width: 80px;
}

nav a:hover
{
    border-bottom: 1px solid #555;
}

nav a.active
{
    border-bottom: 1px solid #FFF;
}

nav img
{
    display: inline;
}

#logo
{
    margin: 20px 0 0 70px;
}

body
{
    background-color: #131313;
    color: #555;
    font-family: "PT Sans Caption";
    font-size: 16px;
}

h2
{
    color: #FFF;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 20px 70px;
}

h3
{
    font-size: 20px;
    font-weight: bold;
}

h4
{
    font-weight: bold;
}